/* (c) Gon Y. Yi <https://gonyyi.com/copyright> */
/* 
   GONYYI Definition Tag - BEGIN
   Usage: <def desc="this is bull shit">gon-y-yi</def>
   Note:  Optional "def:hover::after" can be removed if not needed for 
          arrow from the tooltip.
*/
def{
  text-decoration: gray underline dotted;
  position: relative; 
}
def:hover::before {
  content: attr(desc);
  position: absolute;
  bottom: -7rem;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background: #333;
  color: #fff;
  font-size: 3rem;
  font-family: sans-serif;
  white-space: nowrap;        
}
def:hover::after {
  content: ' ';
  position: absolute;
  bottom: -2rem;
  left: 1rem;
  display: inline-block;
  color: #fff;
  border: 8px solid transparent;  
  border-bottom: 8px solid #333;
}
/* GONYYI Definition Tag - END */
