/* (c) gon y. yi */
html{padding: 0px;margin: 5px;font-size: 5px;}
body{margin: 3rem;font-family: Georgia,Times,serif,Helvetica,Arial,sans-serif;
  word-wrap: break-word; hyphens: auto;font-size: 4rem;color: #4a4a4a;}

a {text-decoration:none; color:#0070ff;}
a:hover {background-color:#fff555;}
h1 {padding: 0; margin: 3rem 0; font-size: 8rem;}
h2 {font-weight: lighter; margin: 0 0 1rem 0; font-size: 6rem;}
p {max-width: 160rem; line-height: 130%;}
i {color: #9e9e9e; font-style: italic;}
li {list-style-type: none; padding: .8rem 0;}
hr {margin-top: 3rem; height: .2rem; border-width: 0; background-color: gray;}
ul {margin: 0 0 2rem 4rem;padding: 0 2rem;border-left: 1rem solid #dadada;color: #aaa;}
h1 a {color:#4a4a4a;}
h1 i, li i {padding-left: 1rem; font-size: 80%;}
/* @media print {body {margin: 50px;}} */

/* CLASS */
.detail {
  margin: 2rem 4rem;
  color: #aaa;
  font-style: italic;
  font-size: 70%;
  border-left: 1rem solid #dadada;
  padding-left: 2rem;
}

.ft70  {font-size: 70%;}
.ft80  {font-size: 80%;}
.ft90  {font-size: 90%;}
.ft100 {font-size: 100%;}
.ft120 {font-size: 120%;}

.white {color: #fff;}
.black {color: #000;}
.gray {color: #ccc;}
.salmon {color: #FA8072;}

.bgWhite {background-color: #fff;}
.bgTrans {background-color: transparent;}
.bgGray {background-color: #ccc;}
.bgSalmon {background-color: #FA8072;}

.pad0 {padding: 0;}
.padBtm1 {padding-bottom: 1rem;}
.padBtm2 {padding-bottom: 2rem;}
.padBtm3 {padding-bottom: 3rem;}
.padTop1 {padding-top: 1rem;}
.padTop2 {padding-top: 2rem;}
.padTop3 {padding-top: 3rem;}

.marg0 {margin: 0;}
.margBtm1 {margin-bottom: 1rem;}
.margBtm2 {margin-bottom: 2rem;}
.margBtm3 {margin-bottom: 3rem;}
.margTop1 {margin-top: 1rem;}
.margTop2 {margin-top: 2rem;}
.margTop3 {margin-top: 3rem;}

/* When overflow, instead of using next line, use ... */
.allowOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* CLASS / FORMS */
/* Disable highlight (outline) by browser */
.overrideOutline:focus {outline: none;} 

/* DARK MODE */
/*
@media (prefers-color-scheme: dark) {
  body {background-color: #1e1e1e; color:#bababa;}
  a {color:#81aaff;}
  a:hover {background-color: #000000;}
  h1 a {color: #bababa;}
  ::-moz-selection {color: black; background: white;}
  ::selection {color: black;background: white;}
}
*/
